.actionFeedbackMessage {
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
    width: 100%;
    color: white;
    font-weight: bold;
    z-index: 9999999;
}

.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.2s linear;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2s, opacity 0.2s linear;
}