.tab:hover {
    cursor:pointer;
    background-color: rgba(30,30,30,0.05);
    text-decoration: none;
}
.tab:active {
    cursor:pointer;
    background-color: rgba(30,30,30,0.05);
}

@media (max-width: 1024px) {
    .tabBar{
        display: none;
    }
}