* {
    box-sizing: border-box;
}

textarea:focus, input:focus, select:focus {
    outline: none;
}

input, textarea, select {
    border: none;
    margin: 0;
    padding: 6px 12px 6px 12px;
    transition: 0.3s;
    font-size: 12px;
}

textarea {
    border: 1px solid lightgrey;
    border-bottom: 1px solid #CFD8DC;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input:invalid {
    border-bottom: 1px solid red;
}

